.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
	box-shadow: none;
}

.picture-container{
	margin-top: 25%;
}

.heart{
	color: #FF3B30;
}

.wrapper > .header{
	min-height: 150px;
}

.index-page .wrapper > .header{
	height: 1vh;
}

.drop-links{
	margin-right: 15px;
}